.app-logo {
  position: relative;
  width: 110px;
  height: 110px;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}
.app-avatar-big {
  position: relative;
  width: 110px;
  height: 110px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}
.app-avatar-medium {
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}
.app-avatar-small {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0px;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}
.app-feature-small {
  width: 20px;
  height: 20px;
  margin: 10px;
}
.app-vertical-align-middle {
  position: relative;
  vertical-align: bottom;
}
.app-search-bar {
  background-color: rgba(255,255,255,.15);
}
.app-card-footer {
  background-color: rgba(0, 0, 0, 0.03);
}
.icon-favorite-active{
  color: red;
}
.icon-balcony-sold{
  color: red;
}
.icon-balcony-available{
  color: green;
}
.icon-balcony-rated{
  color: burlywood;
}
.app-fab-bottom-right-fixed {
  position: fixed !important;
}
md-input-container .md-input {
    border-width: 0;
}
md-input-container .md-errors-spacer {
    float: right;
    min-height: 0;
}
.md-button.md-default-theme.md-primary, .md-button.md-primary {
    color: green;
}
.md-button.md-default-theme.md-primary.ng-scope, .md-button.md-primary.ng-scope {
    color: darkorange;
}