<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Would you like to buy a spot here?</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-font-set="fa fa-lg fa-close"  style="color: #fff;"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>Hey the spot of {{balcony.publisher.name}} seems good</h2>
        <p>{{ balcony.description }}</p>
        <img style="margin: auto; max-width: 100%;" alt="View from the spot" ng-src="{{ balcony.image }}">
        <p>{{ balcony.details }}</p>
        <p>
            How many spots do you want to book?
            <md-input-container class=" md-block">
                <input ng-model="bookedSpots" type="number" step="1">
            </md-input-container>
        </p>
        <p>So in total is <b>{{ balcony.price * bookedSpots }}</b>€</p>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
       No Thanks
      </md-button>
      <md-button ng-click="ok()" style="margin-right:20px;">
        Yes do it!
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>