<!DOCTYPE html>
<html lang="en" >
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  
    <!-- Angular Material CSS -->
    <link rel="stylesheet" href="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="app.css">
    
    <style type="text/css">
      /**
      * Hide when Angular is not yet loaded and initialized
      */
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
    
    
  
  </head>
  <body ng-app="balconyShareApp" ng-controller="HomeController as vm" ng-cloak>
    
    <!-- Toolbar -->
    <md-toolbar>
      <div layout="row" layout-margin layout-padding class="md-toolbar-tools">
        <a flex="none" href="/"><h1 class="md-display-4">BALCONY SHARE</h1></a>
          <md-input-container flex="grow" class="app-search-bar" md-no-float>
            <input type="search" class="search-input" ng-model="query" placeholder="Search">
          </md-input-container>
        <a flex="none" href="/profile"><md-icon md-svg-icon="svg-2" class="app-avatar-big"></md-icon></a>
      </div>
    </md-toolbar>
    
    <!-- Page Content -->
    <md-content class="md-padding" layout="row" flex="50" flex-offset="25" layout-wrap layout-align="center start">
      <div flex="50" layout="column" ng-repeat="event in vm.events | filter:query">
        <md-card>
          <md-card-header>
            <div flex="50" layout="row" layout-align="start center"> 
              <md-icon md-svg-icon="{{ event.publisher.image }}" class="app-avatar-medium"></md-icon>
              <h1 class="md-title">{{ event.publisher.name }}</h1>
            </div>
            <div flex="50" layout="row" layout-align="end center"> 
              <h3 class="md-subhead" style="color: rgba(0,0,0,.5);">{{ event.date }}</h3>
            </div>
          </md-card-header>
          <a href="/"><img ng-src="{{ event.image }}" class="md-card-image"></a>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{ event.name }}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>{{ event.description }}</p>
          </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-font-set="material-icons" class="icon-favorite-active"> favorite </md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Comment">
                <md-icon md-font-set="material-icons"> message </md-icon>
              </md-button>
              <md-button class="md-icon-button" aria-label="Share">
                <md-icon md-font-set="material-icons"> share </md-icon>
              </md-button>
            </md-card-actions>
            <md-card-footer layout="column" class="app-card-footer">
              <div layout="row" layout-align="start center" ng-repeat="comment in event.comments">
                <md-icon md-svg-icon="{{ comment.user.image }}" class="app-avatar-small"></md-icon>
                <span><b>{{ comment.user.name }}:</b></span>
                <span>&nbsp;</span>
                <span>{{ comment.comment }}</span>
              </div>
            </md-card-footer>
        </md-card>
      </div>
      
      <!-- New Event Button -->
      <md-button class="md-fab md-fab-bottom-right app-fab-bottom-right-fixed md-primary">
        <md-icon md-font-set="material-icons" class="icon-favorite-active"> create </md-icon>
      </md-button>
    </md-content>
    
    <!-- Angular Material Dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    
    
    <!-- Angular Material Javascript -->
    <script src="https://gitcdn.xyz/repo/angular/bower-material/master/angular-material.js"></script>
    
    <!-- ANGULAR CUSTOM -->
    <script src="app.js"></script>
    <script src="home.js"></script>
    <script src="profile.js"></script>
  </body>
</html>